<html lang="en">
<%- include("./partials/head.ejs") %>

    <body>
        <%- include("./partials/nav.ejs") %>

            <div class="details content">
                <h2>
                    <%= blog.title %>
                </h2>
                <div class="content">
                    <p>
                        <%= blog.body %>
                    </p>
                </div>
                <a class="delete" data-doc="<%= blog._id %>">delete</a>
                <!-- 使用教程：https://developer.mozilla.org/zh-CN/docs/Web/API/HTMLElement/dataset -->
            </div>

            <%- include("./partials/footer.ejs") %>

    </body>

    <script>
        const trashcan = document.querySelector('a.delete');

        trashcan.addEventListener('click', (e) => {
            const endpoint = `/blogs/${trashcan.dataset.doc}`;

            //使用了 Fetch API来发送一个HTTP DELETE请求到指定的API端点（即删除博客的 URL）
            //Fetch的使用：https://developer.mozilla.org/zh-CN/docs/Web/API/Fetch_API/Using_Fetch
            fetch(endpoint, { method: 'DELETE' })
                .then(response => response.json())//解析响应的 JSON 数据。
                .then(data => window.location.href = data.redirect) // 重定向到指定的URL(/blogs)
                .catch(err => console.log(err));
        });
    </script>

</html>